@mixin side-panels {
    position: absolute;
    min-height: calc(100vh - #{$headerHeight});
    height: calc(100% - #{$headerHeight});
    width: $panelWidth;
    top: 50px;
    background: #dfdfdf;
    z-index: 1
}

@mixin full-width {
    position: relative;
    float: left;
    width: 100%;
}

@mixin handle {
    height: 30px;
    width: 30px;
    background: #fff;
    border: 1px solid #dedede;
    position: absolute;
    top: 30px;
}

@mixin component-wrapper {
    display: flex;
    &>* {
        flex: 1
    }
}